list {
    .header-text {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 200;
    }

    .expand-btn {
        float: right;
        label {
            font-weight: 200;
        }
    }

    .list-index {
        border-radius: 50%;
        background-color: #12538a;
        font-size: 13px;
        color: white;
        min-width: 25px;
        padding: 1px 6px;
        width: 100%;
        margin-right: 5px;
        text-align: center;
    }
     .drop-dwn-item {
        &.item-md {
            &:first-child { 
                margin-top: 30px;     
                box-shadow: 2px -5px 18px -5px rgba(0,0,0,0.75);
            }
            background-color: #447fa8;
            color: white;
            margin-top: 10px;
            border: 0px;
        }
    }
    
    .item-md.item-block .item-inner {
        border-bottom: 0;
    }
}

