<div class="header-text">
  {{headerText}}
</div>

<div class="expand-btn" (click)="toggleDropDown()">
  <label *ngIf="!expanded">EXPAND</label>
  <label *ngIf="expanded">COLLAPSE</label>
  <span>
    <ion-icon *ngIf="!expanded" name="arrow-dropdown"></ion-icon>
    <ion-icon *ngIf="expanded" name="arrow-dropup"></ion-icon>
  </span>
</div>

<ion-list class="drop-dwn-list">
    <ion-item (click)="toggleDropDown();" class="drop-dwn-item">
        <span class="list-name">{{ selectedListItem.name + ' ' + selectedListItem.lastName }}</span>
        <span class="list-earned-info" clear item-end><strong>Earned {{ selectedListItem.earned | currency }}</strong></span>
    </ion-item>   
    <ng-container *ngIf="expanded">
      <ion-item (click)="selectListItem(item);" class="drop-dwn-item" *ngFor="let item of listData; let index = index">
          <span class="list-index">{{ index + 1 }}</span>
          <span class="list-name">{{ item.name + ' ' + item.lastName }}</span>
          <span class="list-earned-info" clear item-end><strong>Earned {{ item.earned | currency }}</strong></span>
      </ion-item>    
     </ng-container>
</ion-list>