page-home {

    .header--title {
        text-align: center;
        margin-left: -50px;
    }
    
    .toolbar-title {
        color: white;
    }

    .toolbar-background-md {
        background-color: #316b99;
    }

    .home-page--content {
        background: linear-gradient(168deg, #316b98 71%, #316b98 71%, #316b98 71%, #3f769e 71%, #3f769e 71%);
    }

    ion-grid { height: 100%; }

    .slider--container {
        margin-top: 7%;
    }

    .drop-down--container {
        margin-top: 7%;
    }

    .footer--container {
        margin-top: 5%;
    }

    .footer-md {
        color: white;
    }

    .footer-md::before {
        background-image: initial;
    }
}

.menu-content-open {
    background: rgba(0,0,0,0.7);
    .show-page {
        opacity: 0.5;
    }
}
