ion-app.ios {
    page-home {
        
        .item-ios {
            background-color: color($colors, primary);
        }     

        .footer-ios {
            color: white;
        }  

        .toolbar-background-ios {
            background-color: #316b99;
        }

        .title-ios {
            text-align: center;
            margin-left: 0px;
        }

        .bar-button-default-ios {
            background-color: color($colors, primary);
            color: white;
        }
        
    }

    .show-menu {
        .item-ios {
            background-color: #eeedef;
            color: black;
        }
    }
    
}
