<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="header--title">Play'n go</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-page--content">  
  <ion-grid>
    <ion-row class="slider--container">
      <ion-col>
        <slider></slider>
      </ion-col>
    </ion-row>
    <ion-row class="drop-down--container">
      <ion-col>
        <list [headerText]="'This week of fame'"></list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
    <ion-row class="footer--container">
        <ion-col>
          <social [headerText]="'Social share with us now!'"></social>
        </ion-col>
      </ion-row>
</ion-footer>