<!-- Generated template for the SocialComponent component -->
<div class="social-header--text">
  {{headerText}}
</div>

<ion-grid>
  <ion-row>
    <ion-col text-right>
      <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" width="40" alt="Facebook" />
      </a>
    </ion-col>
    <ion-col>
      <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" width="40" alt="Twitter" />
      </a>
    </ion-col>
  </ion-row>
</ion-grid>