.drop-down--container {
    .list-ios {
        .item-block {
            .item-inner {
                border: 0;
            }
        }
        .item-ios {
            border: 0;
            border-bottom: 0px;
        }
        .drop-dwn-item {
            border: 0px;
        }
    }
}