<h2 class="slider-header--text">{{sliderHeaderText}}</h2>

<ion-slides centeredSlides="true" initialSlide="1" slidesPerView=2 spaceBetween="10" virtualTranslate="true">
  <ion-slide>
    <img src="./assets/imgs/games/game-thumb-1.png">
  </ion-slide>
  <ion-slide>
    <img src="./assets/imgs/games/game-thumb-2.png">
  </ion-slide>
  <ion-slide>
    <img src="./assets/imgs/games/game-thumb-3.png">
  </ion-slide>
</ion-slides>